on boot
    # Owner for the proximity sensor
    chown system system /sys/devices/i2c-2/2-0054/threshold
    chown system system /sys/devices/i2c-2/2-0054/nburst

    # Owner for the light sensor
    chown system system /sys/devices/i2c-0/0-0036/als_enable
    chown system system /sys/devices/i2c-0/0-0036/als_result

    # Panel backlight
    chown system system /sys/class/leds/lm3533-lcd-bl/brightness
    chmod 660 /sys/class/leds/lm3533-lcd-bl/brightness

    # Vibrator
    chown system system /sys/class/timed_output/vibrator/level

    # LM356x/cameralight
    chown system camera /sys/devices/i2c-0/0-0053/torch_enable
    chmod 660 /sys/devices/i2c-0/0-0053/torch_enable
    chown system camera /sys/devices/i2c-0/0-0053/torch_current
    chmod 660 /sys/devices/i2c-0/0-0053/torch_current
    chown system system /sys/devices/i2c-0/0-0053/privacy_enable
    chown system system /sys/devices/i2c-0/0-0053/privacy_current
    chown system camera /sys/devices/i2c-0/0-0053/flash_enable
    chown system camera /sys/devices/i2c-0/0-0053/flash_duration
    chown system camera /sys/devices/i2c-0/0-0053/flash_synchronization
    chmod 660 /sys/devices/i2c-0/0-0053/flash_synchronization
    chown system camera /sys/devices/i2c-0/0-0053/flash_current
    chmod 660 /sys/devices/i2c-0/0-0053/flash_current
    chown system camera /sys/devices/i2c-0/0-0053/status

    export PATH /sbin:/vendor/bin:/system/sbin:/system/bin:/system/xbin:/usr/bin:/bin
    export LD_LIBRARY_PATH /vendor/lib:/system/lib:/usr/lib:/lib

service wcn36xx /system/bin/sh /system/etc/init.wcn36xx.sh
    class main
    user root
    oneshot

service legacy_glibc /system/bin/sh /system/etc/init.legacy_glibc.sh
    class main
    user root
    oneshot
